*{
    box-sizing: border-box;
    --link-text-color:#ad8912;
    --head-text-color:#359988;
    --main-bg-color: rgb(153, 143, 75);
    --main-text-color:black;
}

body{
    margin: 0px;
    padding: 0px;
    background: repeat url(dark-honeycomb.png);
    color: var(--main-text-color);
}
@media (min-width:600px){
    body{
        display: grid;
        grid-template-areas: 
        "nav nav"
        "header header"
        "article sidebar"
        "article ."
        "footer footer";
        grid-template-columns: 2fr 1fr;
        
    }
}


nav{
    grid-area: nav;
}
nav ul{
    display: grid;
    gap: clamp(1rem, 1fr, 4rem);
    grid-template-columns: repeat(5, 1fr);
    padding:1rem;
    
}
nav ul :last-child{
    grid-column-start: -1;
}

nav li{
    list-style-type: none;
    
}
nav a{
    text-decoration: none;
    color: var(--link-text-color);
    
}
nav,
#sidebar,
#main-content,
footer{
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: repeat url(ricepaper.png);
    opacity: 75%;
    
}
#main-content,
#sidebar,
#footer{
    color: main-text-color;
}

header{
    color:var(--head-text-color);
    grid-area: header;
    align-items: center;
}
header div,
header h1,
header h3{
    text-align: center;
}
#main-content{
    grid-area: article;
}
#sidebar{
    grid-area: sidebar;
}
#sidebar ul{
    list-style: circle;
    line-height: 1.75;
}
#sidebar a{
    text-decoration: none;
    color: var(--link-text-color);
}

footer{
    grid-area: footer;
}
